[submodule "ie-turk-takeda"]
	path = ie-turk-takeda
	url = git@github.com:juanmoo/ie-turk-takeda.git
[submodule "NCRFpp"]
	path = NCRFpp
	url = git@github.com:juanmoo/NCRFpp.git
[submodule "localturk"]
	path = localturk
	url = git@github.com:juanmoo/localturk.git
